# File compilati e pacchetti
*.class
*.jar
*.war

# I JAR distribuiti dell'applicazione fanno eccezione.
!/bin/
!/bin/*.jar

# Cartelle di output (dove finisce il codice compilato)
/out/
/build/
/target/

# Configurazioni personali di IntelliJ IDEA
.idea/
*.iml

# File di sistema di macOS
.DS_Store
